body {
    background-image: url(../images/TZtkqg.png);
    background-attachment: fixed;
    background-position: center;
}

.box {
    position: relative;
    background-color: #AF9272;
    padding: 325px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 350px;
    margin-right: 350px;
}

.header {
    font-family: 'Vujahday Script';
    text-decoration: underline;
    font-size: 50px;
    color: goldenrod;
    position: absolute;
    top: 5px;
    right: 500px;
}

.image1 {
    position: absolute;
    right: 150px;
    bottom: -4px;
}

.image2 {
    position: absolute;
    right: 150px;
    top: 0px;
}