body {
    background-image: url(../images/TZtkqg.png);
    background-attachment: fixed;
    background-position: center;
}

.box {
    position: relative;
    background-color: #AF9272;
    padding: 325px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 350px;
    margin-right: 350px;
}

.header {
    font-family: 'Vujahday Script';
    text-decoration: underline;
    font-size: 35px;
    color: goldenrod;
    position: absolute;
    top: 5px;
    right: 500px;
}

.image1 {
    position: absolute;
    right: 150px;
    bottom: -4px;
}

.image2 {
    position: absolute;
    right: 150px;
    top: 0px;
}

.userImage {
    position: absolute;
    right: 480px;
    top: 85px;
}

.button-gryffindor {
    font-family: 'Vujahday Script';
    font-size: 25px;
    position: absolute;
    border: 4px solid black;
    border-radius: 5%;
    background-color: #632C09;
    color: goldenrod;
    height: 80px;
    width: 220px;
    right: 555px;
    bottom: 175px;
}

.button-hufflepuff {
    font-family: 'Vujahday Script';
    font-size: 25px;
    position: absolute;
    border: 4px solid black;
    border-radius: 5%;
    background-color: #632C09;
    color: goldenrod;
    height: 80px;
    width: 220px;
    right: 555px;
    bottom: 65px;
}

.button-ravenclaw {
    font-family: 'Vujahday Script';
    font-size: 25px;
    position: absolute;
    border: 4px solid black;
    border-radius: 5%;
    background-color: #632C09;
    color: goldenrod;
    height: 80px;
    width: 220px;
    right: 270px;
    bottom: 175px;
}

.button-slytherin {
    font-family: 'Vujahday Script';
    font-size: 25px;
    position: absolute;
    border: 4px solid black;
    border-radius: 5%;
    background-color: #632C09;
    color: goldenrod;
    height: 80px;
    width: 220px;
    right: 270px;
    bottom: 65px;
}

.button-gryffindor:hover {
    background-color: black;
}

.button-hufflepuff:hover {
    background-color: black;
}

.button-ravenclaw:hover {
    background-color: black;
}

.button-slytherin:hover {
    background-color: black;
}

.randomUser {
    position: absolute;
    top: 200px;
    right: 475px;
}

nav #buttonDatabase {
font-family: 'Vujahday Script';
    font-size: 23px;
    position: absolute;
    border: 4px solid black;
    border-radius: 5%;
    background-color: #632C09;
    color: goldenrod;
    padding: 20px 40px;
    right: 575px;
    top: 85px;
}

nav {
    text-align: center;
}

nav #buttonDatabase:hover {
    background-color: black;
}